/* Board */
#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border: 1px solid white;
}

.row {
    display: flex;
}

.cell {
    width: min(2rem, 4.7vw);
    aspect-ratio: 1/1;
    /* border: 1px solid white; */
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.cell-1 {
    background-color: rgb(42, 223, 42);
    /* border: 1px solid white; */
}
.cell-3 {
    background-color: rgb(223, 42, 42);
}

.cell-2 {
    background-image: url("../../public/snake_head.png");
    background-size: cover;
}